#background {
  /*The gradient turns the end of the page to gold while the rest is black*/
   background: linear-gradient(black,black,gold);
  width:2000px;
  height:1000px;
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
  box-shadow: 10px 10px;
  color:Gold;
}
@keyframes Thing {
  /*The percentages dictate at what length should the color change*/
    0% {background-color: black;}
    50%{background-color: gold;}
    75%{background-color: black;}
    100% {background-color: gold;}
}

div{
  transform: translateY(250px);
  width:100px;
  height:100px;
  position: relative;
  animation-name: Thing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
div{
  transform: translateY(1px);
  width:100px;
  height:25px;
  position: relative;
  animation-name: Thing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
/*The Id below this comment states where the div will be */
#thing2{
   transform: translateY(190px);
   height:35px;
}
#thing2:hover{
  transform: translateY(190px);
  height:75px;
  width:100px;
  /*The command below this comment  states what will change, for how long, at what pace, and the delay.*/
  transition: width 2s ease-in-out 1s;
}
